main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

p-card{
    width: 750px;
    padding: 20px;
}

input{
    width: 100%;
    min-width: 450px;
}

.container-header{
    margin-bottom: 50px;
}

.container-field{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px
}

.encabezado{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.textoBold{
    font-weight: bold;
}

.btn-confirmar {
    margin-right: 15px;
}

::ng-deep .p-confirmdialog {
    border-radius: 12px;
    padding: 5px;
    font-family: sans-serif;
}

::ng-deep .p-tooltip {
    font-family: sans-serif;
}